{% if context.form %}
    <form method="post">
        {% for name, object in context.form.items() %}
            <label style="margin: 10px">
                {{ name.capitalize() }}
                <input class="form-control"
                {% for attr, value in object.items() %}
                    {{ attr }}="{{ value }}"
                {% endfor %}
                />
            </label>
        {% endfor %}
        <input class="btn btn-primary" type="submit" value="Submit"/>
    </form>
    {% if context.error %}
        {{ context.error }}
    {% endif %}
{% endif %}
